body{
margin: 0;
padding: 0;
font-family: Titillium Web;
color: black;
background: #f3f3f3;
}

h2{
color: white;	
}

.container{
max-width: 960px;
width: 96%;	
margin: auto;	
}

/* ---------------Header-------------*/

header{
background: blue;
margin-bottom: 20px;
overflow: hidden;
top: 0;
position: fixed;
width: 100%;	
}

.logo{
float: left;
margin-top: 10px;
width: 1%;
}

nav{
float: right;
line-height: 95px;
width: 60%;	
}

nav li{
display: inline-block;
padding: 5px 20px;
margin-left: 10px;
background: Yellow;
line-height: normal;	
}

nav clicked li{
display: inline-block;
padding: 5px 20px;
margin-left: 10px;
background: #ffc700;
line-height: normal;
}

nav clicked li a{
text-decoration: none;
background-color: #ffc700;
}

nav li a{
text-decoration: none;	
}

/* ---------------Content-------------*/

.content h2{
background: #FF4719;
padding: 10px;
border-radius: 5px;
margin-bottom: 20px;
margin-top: 150px;
}

.content article{
float: left;
width: 600px;
}

.content ul{
float: right;
width: 250px;
background: #338989;
padding: 20px;
border-radius: 5px;
list-style: none;
}

.content ul li{
color: white;
margin-bottom: 5px;
}

.content ul li a{
text-decoration: none;
color: white;
}

.content table{
float: left;
width: 650px;
}

.content table tr td ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

.content table tr td ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
	background-color: yellow;
	font-size: 25px;
	font-weight: bold;
}

/* Change the link color on hover */
.content table tr td ul li a:hover {
    background-color: #555;
    color: white;
}

.content table tr td ul li lock {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
	background-color: #b50000;
	font-size: 25px;
	font-weight: bold;
}